@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap');

:root {
    --custom-color-1: #FFFFFF;
    --custom-color-2: #FED03C;
    --custom-color-3: #333333;
    --custom-color-4: #F5F5F5;
    --custom-color-5: #55328B;
    --custom-color-6: #1F1F1F;
    --custom-color-7: #FE813E;
    --custom-color-8: #5079D2;
    --custom-color-9: #84CB04;
    --custom-color-10: #22A6B5;
    --custom-color-11: #F5F5F5;
    --custom-color-12: #404040;
    --custom-color-13: #121212;
    --custom-color-14: #000000;
    --main-text-color: #868686;
    --transition-1: 0.3s;
    --transition-2: 0.2s;
}
